<ion-view view-title="Empresas">
 <ion-content >
		<ion-refresher
		pulling-text="Refrescar..."
		on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list >

			<ion-item ng-repeat="empresa in empresa"
			          class="item-thumbnail-left" id="{{empresa._id}}" href="#/app/map/{{empresa._id}}">
				<img ng-src="http://res.cloudinary.com/dlyd4ztbb/image/upload/v1497936573/empresas/{{empresa._id}}.png" />
				<h2 >{{empresa.empresaname}}</h2 >
          <p>
            <a ng-href=tel:{{empresas.cellphone}} class="button button-positive">Llamar</a>

          </p>
				<p >
					<span id="distancia">
						<i class="ion ion-ios-navigate" ></i >


            {{empresa.location[0] | number:"0"}}km</span >
				</p >
				<p >
					<i class="ion ion-ios-location" ></i >
					{{empresa.direccion }}
				</p >
				<!--<p >
					<span >
						<i class="ion ion-star" ></i >
						{{empresa.rating}}</span >
					<span >
						<i class="ion ion-person" ></i >
						{{empresa.review_count}}</span >
				</p > -->
			</ion-item >
		</ion-list >
	</ion-content >
  <script src="../js/mapservices.js"></script>

</ion-view>
