<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>


     <ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">

       <ion-tab title="Promociones" icon="ion-ios-information" href="#/app/promocion">
     <ion-nav-view name="promociones-tab">Promociones</ion-nav-view> Promociones
     </ion-tab>
     <ion-tab title="Categoria" icon="ion-ios-pulse-strong" href="#/app/categoria">
     <ion-nav-view name="categoria-tab"></ion-nav-view>
     </ion-tab>
     <ion-tab title="Empresas" icon="ion-ios-people" href="#/app/empresa">
     <ion-nav-view name="empresa-tab"></ion-nav-view>
     </ion-tab>
       <!--    <a class="tab-item" href="#/app/promocion">
       <i class="icon"></i>
       Promociones
     </a>
     <a class="tab-item" href="#/app/categoria">
       <i class="icon"></i>
       Categorias
     </a>
     <a class="tab-item" href="#/app/empresa">
       <i class="icon"></i>
       Empresas
     </a> -->
     </ion-tabs>



    <ion-nav-view name="menuContent">    </ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">

      <h1 class="title">Menu</h1>

    </ion-header-bar>
    <ion-content>
      <ion-item class="item-thumbnail-left" >
      <img ng-src="{{profile.picture}} " style="border-radius: 50%">
      <h2> {{profile.name}} </h2>
      <h3> {{profile.email}} </h3>

      </ion-item>
      <ion-list>
        <!--<ion-item class="item-icon-left" href="#/app/categorias">
            <i class="icon ion-email"></i>
              Check mail
          </ion-item> -->
        <ion-item  href="#/app/categorias" class="item-icon-left" >
          <img name="icon ion-home"></img>
          Home
        </ion-item >
        <ion-item menu-close href="#/app/search" class="item-icon-left">
          <i class="ion-ios7-star-outline"></i>
          Favoritos
        </ion-item >
        <ion-item menu-close href="#/app/login" class="item-icon-left">
          Encuesta
        </ion-item>
        <ion-item menu-close class="item-content" ng-click="logout()">
          Cerrar Sesion
        </ion-item>

      </ion-list>


    </ion-content>
  </ion-side-menu>

</ion-side-menus>
