<ion-view view-title="ADService" id="grad" >
  <ion-content>
    <!--<ion-refresher
		pulling-text="Refrescar..."
    on-refresh="doRefresh()">
  </ion-refresher> -->
    <h2 color="white">Empresas</h2>
    <ion-list>
      <ion-item ng-repeat="promociones in promociones" id="{{promociones.empresa}}" href="#/app/map/{{promociones.empresa}}" class="item-image "
                >
                <img ng-src="http://res.cloudinary.com/dlyd4ztbb/image/upload/v1497936573/Promociones/{{promociones._id}}.jpg" >

                </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
