

<ion-nav-view>
    <ion-content scroll="false" id="map">
        <map center="{{yelp.lat}}, {{yelp.lon}}"
             zoom="13"
             disable-default-u-i="true">
         <marker
            icon= "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
            position="{{[yelp.lat, yelp.lon]}}" >
         </marker>
         <marker
         ng-repeat="empresas in empresa"
            icon= "http://maps.google.com/mapfiles/ms/icons/blue-pushpin.png"
            position="{{[empresas.location[1], empresas.location[0]]}}" >
         </marker>
       </map>
       <div class="button button-small button-assertive"
					ng-click="getDirections(empresa)">Get Directions</div >
		</div >
       <div class="list-inset">


       <ion-list>
              <ion-item class="item-icon-left" ng-repeat="empresas in empresa">
                 <i class="icon ion-information"></i>
                 {{empresas.descripcion}}
       </ion-item>
       <ion-item class="item-icon-left" ng-repeat="empresas in empresa">
          <i class="icon ion-android-locate"></i>
          {{empresas.direccion}}
</ion-item>
<ion-item class="item-icon-left" ng-repeat="empresas in empresa">
   <i class="icon ion-email"></i>
   {{empresas.email}}
</ion-item>
     </ion-list>
      </div>
      <!-- <ion-item  ng-repeat="empresas in yelp.results">
         {{empresas.descripcion}} || {{ empresas.location[0]}}
       </ion-item> -->
       <ion-list ng-controller="empresaServlist">
         <h2>Servicios</h2>
         <ion-item ng-repeat="servicio in servicio">{{servicio.nombre}}
         </ion-item>
       </ion-list>
       <button ng-controller="favorito" type="submits" name="button" value="{{profile.identities[0].user_id}}"> Favoritos</button>

    </ion-content>


</ion-nav-view>
<script src="../js/mapservices.js"></script>
