/* Empty. Add your own CSS if you like */
#map { height: 100%; width: 100%;}

.item-content {
  background-color: red;
}
.ionic .custom-thumbnail > img:first-child, .ionic .custom-thumbnail .item-image, .ionic .custom-thumbnail .item-content > img:first-child, .ionic .custom-thumbnail .item-content .item-image {
    top: 0px ;
    left: 0px ;
    max-width: 10px;
    max-height: 10px;
}
.custom-icon {
 font-size: 100px;
  color : blue;
}
.custom-icon1 {
 font-size: 1px;
  color : blue;
  height: 2px;
    width: 20%;
  align-items: stretch ;

}

.table1 {
  font-size: 25px;
   color : black;
   size:50%;
}
#grad {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFFFFF, #FDFCFB, #F0EBEA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFFFFF, #FDFCFB, #F0EBEA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFFFFF, #FDFCFB, #F0EBEA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFFFFF, #FDFCFB, #F0EBEA); /* Standard syntax */
}
